templates/TwitterToSlack.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>6dd41218-015f-1000-828d-263751bcd134</groupId>
  <name>TwitterToSlack</name>
  <snippet>
    <processGroups>
      <id>1f8ff8c5-ecb8-34a0-0000-000000000000</id>
      <parentGroupId>3ad9e809-1441-3acb-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a5642d36-af81-3863-0000-000000000000</id>
          <parentGroupId>1f8ff8c5-ecb8-34a0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1f8ff8c5-ecb8-34a0-0000-000000000000</groupId>
            <id>81eaf2bb-1041-3264-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1f8ff8c5-ecb8-34a0-0000-000000000000</groupId>
            <id>fb6de419-8c4c-39f7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1d03440a-1ebc-37e1-0000-000000000000</id>
          <parentGroupId>1f8ff8c5-ecb8-34a0-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1f8ff8c5-ecb8-34a0-0000-000000000000</groupId>
            <id>7a84efdf-6299-3886-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>1f8ff8c5-ecb8-34a0-0000-000000000000</groupId>
            <id>81eaf2bb-1041-3264-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>81eaf2bb-1041-3264-0000-000000000000</id>
          <parentGroupId>1f8ff8c5-ecb8-34a0-0000-000000000000</parentGroupId>
          <position>
            <x>931.2311358600926</x>
            <y>139.51980042607877</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>twitter_handle</key>
                <value>
                  <name>twitter_handle</name>
                </value>
              </entry>
              <entry>
                <key>twitter_msg</key>
                <value>
                  <name>twitter_msg</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>twitter_handle</key>
                <value>$.user.screen_name</value>
              </entry>
              <entry>
                <key>twitter_msg</key>
                <value>$.text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>fb6de419-8c4c-39f7-0000-000000000000</id>
          <parentGroupId>1f8ff8c5-ecb8-34a0-0000-000000000000</parentGroupId>
          <position>
            <x>935.7689166218115</x>
            <y>-66.51299843230424</y>
          </position>
          <bundle>
            <artifact>nifi-social-media-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Twitter Endpoint</key>
                <value>
                  <name>Twitter Endpoint</name>
                </value>
              </entry>
              <entry>
                <key>Consumer Key</key>
                <value>
                  <name>Consumer Key</name>
                </value>
              </entry>
              <entry>
                <key>Consumer Secret</key>
                <value>
                  <name>Consumer Secret</name>
                </value>
              </entry>
              <entry>
                <key>Access Token</key>
                <value>
                  <name>Access Token</name>
                </value>
              </entry>
              <entry>
                <key>Access Token Secret</key>
                <value>
                  <name>Access Token Secret</name>
                </value>
              </entry>
              <entry>
                <key>Languages</key>
                <value>
                  <name>Languages</name>
                </value>
              </entry>
              <entry>
                <key>Terms to Filter On</key>
                <value>
                  <name>Terms to Filter On</name>
                </value>
              </entry>
              <entry>
                <key>IDs to Follow</key>
                <value>
                  <name>IDs to Follow</name>
                </value>
              </entry>
              <entry>
                <key>Locations to Filter On</key>
                <value>
                  <name>Locations to Filter On</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Twitter Endpoint</key>
                <value>Filter Endpoint</value>
              </entry>
              <entry>
                <key>Consumer Key</key>
                <value>HmKsnKLnVj01qwesPFhulCLoo</value>
              </entry>
              <entry>
                <key>Consumer Secret</key>
              </entry>
              <entry>
                <key>Access Token</key>
                <value>875355401159680000-E7R4ssf4K63IEkm98qVRowx02s52kQG</value>
              </entry>
              <entry>
                <key>Access Token Secret</key>
              </entry>
              <entry>
                <key>Languages</key>
                <value>en</value>
              </entry>
              <entry>
                <key>Terms to Filter On</key>
                <value>Hortonworks,NiFi,FreeBeerSessions</value>
              </entry>
              <entry>
                <key>IDs to Follow</key>
              </entry>
              <entry>
                <key>Locations to Filter On</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetTwitter</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
        <processors>
          <id>7a84efdf-6299-3886-0000-000000000000</id>
          <parentGroupId>1f8ff8c5-ecb8-34a0-0000-000000000000</parentGroupId>
          <position>
            <x>932.0</x>
            <y>356.98571014404297</y>
          </position>
          <bundle>
            <artifact>nifi-slack-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>webhook-url</key>
                <value>
                  <name>webhook-url</name>
                </value>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>
                  <name>webhook-text</name>
                </value>
              </entry>
              <entry>
                <key>channel</key>
                <value>
                  <name>channel</name>
                </value>
              </entry>
              <entry>
                <key>username</key>
                <value>
                  <name>username</name>
                </value>
              </entry>
              <entry>
                <key>icon-url</key>
                <value>
                  <name>icon-url</name>
                </value>
              </entry>
              <entry>
                <key>icon-emoji</key>
                <value>
                  <name>icon-emoji</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>webhook-url</key>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>${twitter_handle} said: ${twitter_msg}</value>
              </entry>
              <entry>
                <key>channel</key>
                <value>#general</value>
              </entry>
              <entry>
                <key>username</key>
              </entry>
              <entry>
                <key>icon-url</key>
              </entry>
              <entry>
                <key>icon-emoji</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutSlack</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.slack.PutSlack</type>
        </processors>
      </contents>
      <name>TwitterSlack</name>
    </processGroups>
  </snippet>
  <timestamp>10/30/2017 21:17:19 SAST</timestamp>
</template>