templates/TwitterToSlack.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>2f4003bf-015f-1000-8caf-c4e2283c1eba</groupId>
  <name>TwitterToSlack</name>
  <snippet>
    <controllerServices>
      <id>f72ceaee-d897-3f43-0000-000000000000</id>
      <parentGroupId>50bd7e32-375b-36e9-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPoolMySQL</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://localhost:3306/tweets</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/usr/share/java/mysql-connector-java.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>root</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <processGroups>
      <id>1463f323-8070-336e-0000-000000000000</id>
      <parentGroupId>50bd7e32-375b-36e9-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>cea8e90d-1cf5-3fee-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>b2a8227f-ccfa-3c2d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>903d77f2-ee38-3529-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0743c5d4-d730-3b2f-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>c5430a32-90a2-3d44-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>4bfb69cd-51c1-3ca5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>450fb9bb-9984-3978-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>25610ec3-9411-3796-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>c5430a32-90a2-3d44-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>46bd3d6e-7ead-3c6b-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>25fb135f-ec52-340a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>sql</selectedRelationships>
          <source>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>b2a8227f-ccfa-3c2d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4cc8b4fa-a2a8-31d2-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>903d77f2-ee38-3529-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>1463f323-8070-336e-0000-000000000000</groupId>
            <id>c5430a32-90a2-3d44-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>903d77f2-ee38-3529-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>1563.4987065070516</x>
            <y>134.87023377568812</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Attributes List</key>
                <value>
                  <name>Attributes List</name>
                </value>
              </entry>
              <entry>
                <key>attributes-to-json-regex</key>
                <value>
                  <name>attributes-to-json-regex</name>
                </value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>
                  <name>Include Core Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>
                  <name>Null Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Attributes List</key>
              </entry>
              <entry>
                <key>attributes-to-json-regex</key>
              </entry>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AttributesToJSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
          <id>b2a8227f-ccfa-3c2d-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>1567.056445764864</x>
            <y>337.83690731433614</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>JDBC Connection Pool</name>
                </value>
              </entry>
              <entry>
                <key>Statement Type</key>
                <value>
                  <name>Statement Type</name>
                </value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>
                  <name>Table Name</name>
                </value>
              </entry>
              <entry>
                <key>Catalog Name</key>
                <value>
                  <name>Catalog Name</name>
                </value>
              </entry>
              <entry>
                <key>Schema Name</key>
                <value>
                  <name>Schema Name</name>
                </value>
              </entry>
              <entry>
                <key>Translate Field Names</key>
                <value>
                  <name>Translate Field Names</name>
                </value>
              </entry>
              <entry>
                <key>Unmatched Field Behavior</key>
                <value>
                  <name>Unmatched Field Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Unmatched Column Behavior</key>
                <value>
                  <name>Unmatched Column Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Update Keys</key>
                <value>
                  <name>Update Keys</name>
                </value>
              </entry>
              <entry>
                <key>jts-quoted-identifiers</key>
                <value>
                  <name>jts-quoted-identifiers</name>
                </value>
              </entry>
              <entry>
                <key>jts-quoted-table-identifiers</key>
                <value>
                  <name>jts-quoted-table-identifiers</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>f72ceaee-d897-3f43-0000-000000000000</value>
              </entry>
              <entry>
                <key>Statement Type</key>
                <value>INSERT</value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>tweets</value>
              </entry>
              <entry>
                <key>Catalog Name</key>
              </entry>
              <entry>
                <key>Schema Name</key>
              </entry>
              <entry>
                <key>Translate Field Names</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Unmatched Field Behavior</key>
                <value>Ignore Unmatched Fields</value>
              </entry>
              <entry>
                <key>Unmatched Column Behavior</key>
                <value>Fail on Unmatched Columns</value>
              </entry>
              <entry>
                <key>Update Keys</key>
              </entry>
              <entry>
                <key>jts-quoted-identifiers</key>
                <value>false</value>
              </entry>
              <entry>
                <key>jts-quoted-table-identifiers</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertJSONToSQL</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>sql</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
        </processors>
        <processors>
          <id>c5430a32-90a2-3d44-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>931.2311358600926</x>
            <y>139.51980042607877</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>twitter_handle</key>
                <value>
                  <name>twitter_handle</name>
                </value>
              </entry>
              <entry>
                <key>twitter_msg</key>
                <value>
                  <name>twitter_msg</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>twitter_handle</key>
                <value>$.user.screen_name</value>
              </entry>
              <entry>
                <key>twitter_msg</key>
                <value>$.text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>25610ec3-9411-3796-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>932.0</x>
            <y>356.98571014404297</y>
          </position>
          <bundle>
            <artifact>nifi-slack-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>webhook-url</key>
                <value>
                  <name>webhook-url</name>
                </value>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>
                  <name>webhook-text</name>
                </value>
              </entry>
              <entry>
                <key>channel</key>
                <value>
                  <name>channel</name>
                </value>
              </entry>
              <entry>
                <key>username</key>
                <value>
                  <name>username</name>
                </value>
              </entry>
              <entry>
                <key>icon-url</key>
                <value>
                  <name>icon-url</name>
                </value>
              </entry>
              <entry>
                <key>icon-emoji</key>
                <value>
                  <name>icon-emoji</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>webhook-url</key>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>${twitter_handle} said: ${twitter_msg}</value>
              </entry>
              <entry>
                <key>channel</key>
                <value>#general</value>
              </entry>
              <entry>
                <key>username</key>
              </entry>
              <entry>
                <key>icon-url</key>
              </entry>
              <entry>
                <key>icon-emoji</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutSlack</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.slack.PutSlack</type>
        </processors>
        <processors>
          <id>25fb135f-ec52-340a-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>1571.230029749239</x>
            <y>542.0521151076152</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>JDBC Connection Pool</name>
                </value>
              </entry>
              <entry>
                <key>Support Fragmented Transactions</key>
                <value>
                  <name>Support Fragmented Transactions</name>
                </value>
              </entry>
              <entry>
                <key>Transaction Timeout</key>
                <value>
                  <name>Transaction Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Obtain Generated Keys</key>
                <value>
                  <name>Obtain Generated Keys</name>
                </value>
              </entry>
              <entry>
                <key>rollback-on-failure</key>
                <value>
                  <name>rollback-on-failure</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>f72ceaee-d897-3f43-0000-000000000000</value>
              </entry>
              <entry>
                <key>Support Fragmented Transactions</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Transaction Timeout</key>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Obtain Generated Keys</key>
                <value>false</value>
              </entry>
              <entry>
                <key>rollback-on-failure</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutSQL</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
          <id>4bfb69cd-51c1-3ca5-0000-000000000000</id>
          <parentGroupId>1463f323-8070-336e-0000-000000000000</parentGroupId>
          <position>
            <x>935.7689166218115</x>
            <y>-66.51299843230424</y>
          </position>
          <bundle>
            <artifact>nifi-social-media-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Twitter Endpoint</key>
                <value>
                  <name>Twitter Endpoint</name>
                </value>
              </entry>
              <entry>
                <key>Consumer Key</key>
                <value>
                  <name>Consumer Key</name>
                </value>
              </entry>
              <entry>
                <key>Consumer Secret</key>
                <value>
                  <name>Consumer Secret</name>
                </value>
              </entry>
              <entry>
                <key>Access Token</key>
                <value>
                  <name>Access Token</name>
                </value>
              </entry>
              <entry>
                <key>Access Token Secret</key>
                <value>
                  <name>Access Token Secret</name>
                </value>
              </entry>
              <entry>
                <key>Languages</key>
                <value>
                  <name>Languages</name>
                </value>
              </entry>
              <entry>
                <key>Terms to Filter On</key>
                <value>
                  <name>Terms to Filter On</name>
                </value>
              </entry>
              <entry>
                <key>IDs to Follow</key>
                <value>
                  <name>IDs to Follow</name>
                </value>
              </entry>
              <entry>
                <key>Locations to Filter On</key>
                <value>
                  <name>Locations to Filter On</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Twitter Endpoint</key>
                <value>Filter Endpoint</value>
              </entry>
              <entry>
                <key>Consumer Key</key>
                <value>HmKsnKLnVj01qwesPFhulCLoo</value>
              </entry>
              <entry>
                <key>Consumer Secret</key>
              </entry>
              <entry>
                <key>Access Token</key>
                <value>875355401159680000-E7R4ssf4K63IEkm98qVRowx02s52kQG</value>
              </entry>
              <entry>
                <key>Access Token Secret</key>
              </entry>
              <entry>
                <key>Languages</key>
                <value>en</value>
              </entry>
              <entry>
                <key>Terms to Filter On</key>
                <value>Hadoop,Hortonworks,Cloudera,MapR,FreeBeerSessions</value>
              </entry>
              <entry>
                <key>IDs to Follow</key>
              </entry>
              <entry>
                <key>Locations to Filter On</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetTwitter</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
      </contents>
      <name>TwitterSlack</name>
    </processGroups>
  </snippet>
  <timestamp>10/30/2017 16:46:19 CET</timestamp>
</template>